.main{
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.navigation{
    height: 100vh;
    width: 250px;
    background-color: rgb(253, 170, 170);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.left{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 900px;
    height: 100vh;
}
.modal{
    background-color: rgb(255, 224, 184);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 350px;
}
