.main{
    border: 1px solid rgb(188, 188, 188);
    border-radius: 6px;
    padding: 6px;
    width: 480px;
    margin-bottom: 10px;
}
.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.topfirst{
    display: flex;
    gap: 10px;
}
.icons{
    /* width: 480px; */
    display: flex;
    justify-content: space-between;
}