.main{
    display: flex;
    /* gap: 30px; */
}
.navigation{
    position: fixed;
}
.mid{
    position: absolute;
    left: 350px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
}